<p>
  <b>Nazwa lokalu:</b>
  <%= @lokal.nazwa %>
  </p>

  <p>
  <b> Adres:</b>
  <%= @lokal.adres %>
  </p>
  <p> <%= image_tag(@lokal.photo) if @lokal.photo? %> </p>

  <%= link_to '<< Naleśnikarnie', root_url %>
