<% content_for :title, "Załoga" %>
<div class="crew1">
  Autorkami strony są: Anna Migas oraz Małgorzata Nowak 
  <%= image_tag("migasan.png", :alt =>"Migasan") %> 
  <%= image_tag("pegaz.png", :alt =>"Pegaz") %> 
</div>
<div class="crew2"> Opiekun czuwający nad wszystkim,<br /> współautor opcji <i>szukaj</i>: Aleksander Pohl

  <%= image_tag("apohllo.png", :alt =>"Apohllo") %> 
</div>
<h1> Strona została wykonana w ramach projektu z zajęć interfejsu graficznego. </h1>
