
<%= image_tag("drpancake.png", :alt =>"Dr Pancake", :class => "drpancake") %> 
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="cloud">
  <% @theories.each do |theory| %>
  <div>
    <div> <%= link_to theory.title, theory %> </div>
  </div>
<% end %>
</div>

<%= link_to "nowa teoria", new_drpancake_path %>
