<%= image_tag("drpancake.png", :alt =>"Dr Pancake", :class => "drpancake") %> 
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="cloud">

  <div class="title">
    <%= @theory.title %>
  </div>

  <div class="theory">
    <%= @theory.theory %>
  </div>

</div>

