body{
	margin: 0px;
	background-color:#f2dd72;	
	font-family: Trebuchet MS, Arial, sans-serif;
	height:100%;
}

.wrapper{
	position:relative;
	width:990px;
	margin: 0px auto;
	height:100%;
}
section{
	background-color: #FFFFFF;

	padding:10px;
	position:absolute;
	top:360px;
	width:100%;
}
img.ornament{
position:absolute;
top:-25px;
}
img.logo{
position:absolute;
}
ul.nav{
display:block;
list-style:none;
position:absolute;
left:320px;
}
ul.nav li{
width:150px;
height:200px;
margin-right:3px;
display:block;
float:left;
}
img.nav{
margin: auto;
position:absolute;
bottom:10px;
}


footer{
background-color: #e2213c;
height:70px;
width:100%;
padding-top:30px;
text-align:center;
position:absolute;
bottom:0px;}
